body {
    font-family: 'ComicMono';
    font-weight: 600;
    background-color: rgb(60, 32, 186);
    user-select: none;
}

.image {
    width: 300px;
    height: 500px;
    background-size: cover;
    background-image: url('img/photo_2022-06-15_16-24-36.jpg');
}